@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.margin {
  margin-top: 150px;
}

/* Header */

.headerContainer {
  z-index: -1;
  background-image: linear-gradient(to left, #e9e9e9 30%,#b8b8b8 50%);
  display: flex;
  flex-direction: column;
}

#headerLogo {
  background-image: url(../src/assets/images/testLogo.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}

.loginNav {
  display: flex;
  flex-direction: row;
  align-items:center;
  color: white;
  position: sticky;
  left: 1270px;
  bottom: 900px;
  margin-right: 20px;
}


@media screen and (min-width: 1240px) {
  .loginNav {
    left: 1500px;
  }
}

.loginNav h5 {
  opacity: 0;
}

.login {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1px 10px 1px 10px;
  margin-left: 5px;
  border-radius: 10px;
  font-weight: bold;
  
}

.login:hover {
  background-color: grey;
  cursor: pointer;
}

/* Header */

/*nav*/

.navBar {
  display: flex;
  color: white;
}

nav {
  display: flex;
  
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
  
nav ul a{
  text-decoration: none;
}
  
nav li{
  display: inline-block;
  color: black;
  border-bottom: 3px solid black;
  padding: 0px 7px 0px;
  margin-right: 50px;
}
  
nav li:hover {
  border-radius: 3px;
  color: white;
  background-color: black;
  cursor: pointer;
}
  
nav a:link {
  color: white;
}
  
nav a:hover {
  color: white;
}
  
nav a:visited {
  color: white;
}
  
nav a:visited:hover {
  color: white;
}

@media screen and (max-width: 770px) {
  nav {
    font-size: 16px;
  }
}

/*nav*/

/*home*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px 250px 0px 250px;
}

.home p {
  margin: -10px 0px 30px 0px;
}

.home img {
  height: 200px;
  width: 1000px;
}

.steps {
  display: flex;
  flex-direction: row;
  font-family: cinzel;
  margin: 0px 20px -90px 20px;
}

.steps h3 {
  position: relative;
  bottom: 20px;
}

.steps h2 {
  position: relative;
  bottom: 100px;
  font-size: 90px;
}

.steps p {
  margin: 0px 0px 0px 5px;
}

.stepLink {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  margin: 0px 0px 0px 5px;
}

.stepLink:hover {
  color: rgb(100, 100, 248);
  cursor: pointer;
}

/*home*/

/*gallery*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 250px 0px 250px;
}

.galleryImage {
  height: 200px;
  width: 200px;
  margin: 0px 10px 5px 0px;
}

.galleryImage:hover {
  cursor: zoom-in;
  transform: scale(2);
}

/*product*/

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 250px 0px 250px;
}

.productImage {
  height: 250px;
  width: 200px;
  margin: 0px 30px 5px 30px;
}

/*.productImage:hover {
  opacity: 0.5;
}*/

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 20px;
  margin: 0px 30px 0px 30px;
  font-weight: bold;
}

.price a {
  text-decoration: none;
  color: white;
  background-color: rgb(74, 74, 74);
  padding: 2px 20px 2px 20px;
  border-radius: 3px;
}

.price a:hover {
  background-color: grey;
}

/*product*/

/* Contact */

.buttons {
  background-color: #504f4f;
  color: white;
  border-radius: 2%;
  width: 150px;
  height: 50px;
  margin-bottom: 50px;
}

.buttons:hover {
  background-color:rgb(107, 107, 107);
  cursor: pointer;
}

/* Contact */

/* About */

.about {
  margin: 0px 350px 0px 350px;
}

.about-laser {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

/* About */

/* Login */

.loginContainer {
  margin: 10px;
}

.nameLabel {
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
}

.nameInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 110px 6px 10px;
}

.emailInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 110px 6px 10px;
  margin-left: 35px;
}

.passwordInput {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 110px 6px 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginButton {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  text-align: center;
  background-color: rgb(74, 74, 74);
}

.loginButton:hover {
  background-color: grey;
}

.logInstead {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}

.logInstead:hover {
  font-size: 20px;
}