.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.margin {
  margin-top: 150px;
}

/*nav*/

nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
  
nav ul a{
  text-decoration: none;
}
  
nav li{
  display: inline-block;
  color: black;
  border-bottom: 3px solid black;
  padding: 0px 7px 0px;
  margin-right: 50px;
}
  
nav li:hover {
  border-radius: 3px;
  color: white;
  background-color: black;
  cursor: pointer;
}
  
nav a:link {
  color: black;
}
  
nav a:hover {
  color: white;
}
  
nav a:visited {
  color: black;
}
  
nav a:visited:hover {
  color: white;
}

/*nav*/

/*home*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px 250px 0px 250px;
}

.steps {
  display: flex;
  flex-direction: row;
  margin-bottom: -50px;
}

.steps h3 {
  position: relative;
  bottom: 20px;
}

.steps h2 {
  position: relative;
  bottom: 80px;
  font-size: 80px;
}

.steps p {
  margin: 0px 0px 0px 5px;
}

.stepLink {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  margin: 0px 0px 0px 5px;
}

.stepLink:hover {
  color: rgb(100, 100, 248);
  cursor: pointer;
}

/*home*/

/*gallery*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 250px 0px 250px;
}

.galleryImage {
  height: 200px;
  width: 200px;
  margin: 0px 10px 5px 0px;
}

.galleryImage:hover {
  cursor: zoom-in;
  transform: scale(2);
}

/*gallery*/